bin/
build/
.vs/
*.user
*.suo
*.sln
*.vcxproj*
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.idb
*.ipch
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.res
*.rc
*.manifest
*.dll
*.exe
*.lib
*.exp
!thirdParty/*.lib
!thirdParty/*.dll
!thirdParty/**/*.lib
!thirdParty/**/*.dll

thirdParty/shaderc_combined.lib
*.iobj
*.ipdb
*.pgc
*.pgd
*.ilk

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

.idea/
*.iml
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.glsl~
*.vs~
*.fs~
